## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Alofi,NU,79.83,scattered clouds,-19.0595,-169.9187,Taloa Heights
1,4,Sao Filipe,CV,78.89,overcast clouds,14.8961,-24.4956,Hotel Xaguate
2,6,Hobyo,SO,78.80,clear sky,5.3505,48.5268,Halane Hotel and Restaurent
3,8,Mamallapuram,IN,77.05,scattered clouds,12.6264,80.1722,Radisson Blu Resort Temple Bay Mamallapuram
4,13,Kassala,SD,75.38,clear sky,15.4510,36.4000,Amassi Hotel Gash
5,19,Villa Bruzual,VE,84.45,broken clouds,9.3328,-69.1208,hotel italia
6,21,Mar Del Plata,AR,84.22,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
7,22,Grand Gaube,MU,75.60,clear sky,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
8,24,San Patricio,US,78.67,broken clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
9,28,Avarua,CK,80.65,scattered clouds,-21.2078,-159.7750,Paradise Inn

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City == "Brownwood"]
vacation_end = vacation_df.loc[vacation_df.City == "Brownwood"]
vacation_stop1 = vacation_df.loc[vacation_df.City == "Lamesa"]
vacation_stop2 = vacation_df.loc[vacation_df.City == "Pecos"] 
vacation_stop3 = vacation_df.loc[vacation_df.City == "San Patricio"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
route = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING' or 'BICYCLING' or 'WALKING' )
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,578,Brownwood,US,76.55,clear sky,31.7093,-98.9912,La Quinta Inn & Suites by Wyndham Brownwood
1,700,Lamesa,US,78.53,scattered clouds,32.7376,-101.9510,Shiloh Inn Lamesa
2,680,Pecos,US,82.06,clear sky,31.4229,-103.4932,Knights Inn & Suites Pecos
3,24,San Patricio,US,78.67,broken clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))